<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/mastermenu?useSSL=false</property>
		<property name="connection.username">root</property>
		<property name="current_session_context_class">thread</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="br.com.mastermenu.model.Usuario"/>
		<mapping class="br.com.mastermenu.model.Cliente"/>
		<mapping class="br.com.mastermenu.model.Profissional"/>
		<mapping class="br.com.mastermenu.model.Endereco"/>
		<mapping class="br.com.mastermenu.model.SegurancaSenha"/>
		<mapping class="br.com.mastermenu.model.Item"/>
		<mapping class="br.com.mastermenu.model.Ingrediente"/>
		<mapping class="br.com.mastermenu.model.Comanda"/>
		<mapping class="br.com.mastermenu.model.Cozinha"/>
		<mapping class="br.com.mastermenu.model.Copa"/>
				
	</session-factory>
</hibernate-configuration>